.recharts-wrapper .recharts-surface:hover {
  background-color: lightgrey;
}

.custom-tooltip {
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
}

.barChart {
  width: 100%;
  margin-left: 117px;
}
