.navbar {
  height: 91px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--logo {
    width: 178px;
    height: 61px;
    margin-left: 29px;
  }

  &p {
    margin: 0;
  }

  &--links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
  }

  &link {
    &:visited {
      color: white;
    }
  }
}
