.sidebar {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 117px;
  height: calc(100vh - 91px);
  position: fixed;

  &--icons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 100px;

    .icon {
      width: 64px;
      height: 64px;
    }
  }

  &--text {
    font-size: 12px;
    font-weight: 500;
    transform: rotate(-90deg);
    color: white;
    margin: 0 0 0 100px;
  }
}
