.sidebar {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 117px;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden; /* Ensure content doesn't overflow */

  &--icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 256px;

    .icon {
      width: 64px;
      height: 64px;
    }
  }

  &--text {
    font-size: 12px;
    font-weight: 500;
    color: white;
    transform: rotate(-90deg);
    transform-origin: center;
    position: absolute;
    left: 50%;
    bottom: 10px; /* Adjust this value as needed */
    white-space: nowrap; /* prevent text wrapping */
    translate: -50% 0; /* center the text */
  }
}
