@charset "UTF-8";
html,
body {
  height: 100%;
  margin: 0;
}

body {
  max-width: 1440px;
  margin: auto;
}

* {
  font-family: Roboto, Arial, sans-serif;
}

.main-body-container {
  display: flex;
}

.navbar {
  height: 91px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar--logo {
  width: 178px;
  height: 61px;
  margin-left: 29px;
}
.navbarp {
  margin: 0;
}
.navbar--links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
}
.navbarlink:visited {
  color: white;
}

.sidebar {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 117px;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden; /* Ensure content doesn't overflow */
}
.sidebar--icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 256px;
}
.sidebar--icons .icon {
  width: 64px;
  height: 64px;
}
.sidebar--text {
  font-size: 12px;
  font-weight: 500;
  color: white;
  transform: rotate(-90deg);
  transform-origin: center;
  position: absolute;
  left: 50%;
  bottom: 10px; /* Adjust this value as needed */
  white-space: nowrap; /* prevent text wrapping */
  translate: -50% 0; /* center the text */
}

.barChart {
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  height: 320px;
  width: 100%;
  margin-bottom: 150px;
}
.barChart .custom-tooltip {
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
}
.barChart .responsive-container-bar-chart {
  max-height: 320px;
}
.barChart .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
.barChart .chart {
  margin: 20px 30px 20px 5px;
}

.nutrients {
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nutrients p {
  margin: 0;
}
.nutrients-container {
  display: flex;
  height: 124px;
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  align-items: center;
  gap: 24px;
}
.nutrients-image {
  width: 60px;
  height: 60px;
  padding-left: 32px;
}
.nutrients-text-data {
  color: #282d30;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}
.nutrients-text-type {
  color: #74798c;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.lineChart {
  background-color: red;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 10px;
}
.lineChart::before {
  content: "Durée moyenne des sessions";
  position: absolute;
  top: 25px;
  left: 30px;
  opacity: 0.5;
  max-width: 150px;
  color: #fff;
}
.lineChart .responsive-container {
  width: 100%;
  max-height: calc(100% - 50px);
  margin-top: 50px;
}
.lineChart .line {
  opacity: 0.5;
}
.lineChart .recharts-cartesian-axis-tick text {
  fill: #fff;
  opacity: 0.5;
}

.radialChart {
  width: 100%;
  height: 100%;
  background-color: #282d30;
  padding: 0 10px;
}
.radialChart .responsive-container {
  width: 80%;
}
.radialChart .responsive-container .radar-chart-container {
  background-color: #282d30;
  padding: 20px;
}
.radialChart .responsive-container .radar-chart-container .recharts-wrapper {
  font-size: 12px;
  font-weight: 500;
}
.radialChart .responsive-container .radar-chart-container .recharts-wrapper .recharts-polar-angle-axis .recharts-polar-angle-axis-tick {
  word-wrap: break-word;
}

@media screen and (max-width: 1440px) {
  .radialChart tspan {
    font-size: 10px;
  }
}
.scoreChart {
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
}

.main-charts {
  display: flex;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: calc(100% - 117px);
  margin: 0 90px 0 109px;
  gap: 32px;
}

.main-charts {
  gap: 32px;
}

.small-charts-container {
  display: flex;
  max-height: 263px;
  height: 263px;
  justify-content: space-between;
  gap: 10px;
  margin-top: 30px;
}
.small-charts-container > div {
  border-radius: 5px;
}

.hello-text {
  font-size: 48px;
  font-weight: 500;
}
.hello-text-user {
  color: #ff0101;
}
.hello-text-sub-message {
  font-size: 18px;
}

@media screen and (max-width: 1440px) {
  .home-container {
    margin: 0 2.5% 0 2.5%;
  }
}/*# sourceMappingURL=main.css.map */